#simplemodal-container{
	width:auto;
	height:auto;
}

.modal{ 
	//display:none; 
	
	@include boxshadow(#000, 0, 0, 10px);
	@include corner(10px);
	background:rgba(0, 53, 140, 0.3);
	padding:10px;
	
	&.alert{
		width:300px;
		h2 { 
			color:#fff;
			margin:0;
			padding:0 0 10px 0;
			font-size:16px;
		}
		
		div{
		    padding-bottom:10px;
		}
		
		div.actions{
		    padding-bottom:0px;
		}
		
		p{
			color:#fff;
			margin:0;
			padding:0 0 10px 0;
		}
		
		ul{
			padding-bottom:5px;
		}
		
		ul li{
			color:#fff;
			padding-bottom:5px;
		}
		
		.button{
			@include corner();
			cursor:pointer;
			background:#fefefe;
			text-align:center;
			padding:10px;
		}
	}
}
