<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Welcome To Rodeo</title>
	<script type="text/javascript" src="/resources/js/jquery.js"></script>
	<script type="text/javascript" src="/resources/js/rodeo-utils.js"></script>
	<script type="text/javascript" src="/resources/js/rodeo-notifications.js"></script>
	<script type="text/javascript" src="/resources/js/rodeo-storage.js"></script>
	<script type="text/javascript" src="/resources/js/rodeo-client.js"></script>
	<script type="text/javascript" src="/resources/js/rodeo-application.js"></script>
</head>
<body>
	<h1>Rodeo</h1>
</body>
</html>